@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

ol, ul {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #000000;
    border-top: 5px solid black;
    margin: 10px 95px 0 48px;
    width: 595px;
    height: 842px;
}

header {
    display: flex;
    padding-top: 33px;
    margin: 37px 95px 0 48px;
    justify-content: space-between;
    align-items: center;
}

.header__tittles {
    line-height: 28px;
}

.header__tittles__tittle {
    font-weight: 700;
    font-size: 24px;
}

.header__tittles__subtittle {
    font-size: 18px;
    font-weight: 400;
}

img {
    width: 78px;
    height: 78px;
    border-radius: 100%;
}

main {
    display: flex;
    margin: 37px 48px 0 48px;
}

.experience {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
    gap: 16px;
}

.experience__tittle {
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #455473;
    font-weight: 400;
}

.experience__subtittle {
    font-weight: 700;
    font-size: 11px;
    line-height: 18px;
}

.experience__company {
    font-size: 11px;
    line-height: 18px;
    font-weight: 400;
}

.experience__date {
    font-size: 9px;
    line-height: 18px;
    font-weight: 400;
}

.experience__description {
    font-size: 11px;
    width: 333px;
    line-height: 18px;
    font-weight: 400;
}

.aside__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 400;
}

.aside__contact__list {
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
}

li {
    margin-bottom: 2px;
}

li:last-child {
    margin-bottom: 0;
}

.aside__knowledge__tittle {
    font-weight: 400;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #455473;
    margin-bottom: 8px;
}

.aside__knowledge__list {
    font-size: 11px;
    font-weight: 400;
}

.aside__knowledge__list > li {
    margin-bottom: 2px;
    line-height: 18px;
}

.aside__knowledge__list > li:last-child {
    margin-bottom: 0;
}

.aside__tools__tittle {
    font-weight: 400;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #455473;
    margin-bottom: 8px;
}

.aside__tools__itens {
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
}

.aside__skills__tittle {
    font-weight: 400;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #455473;
    margin-bottom: 8px;
}

.aside__skills_itens {
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
}

.aside__social__tittle {
    font-weight: 400;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #455473;
    margin-bottom: 8px;
}

.aside__social__links {
    
}

.aside__social__link {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
}
